<section>
  <h1>Usando reaproveitamento de componente com a diretiva ng-content</h1>
  <app-card>
    <h2 card-title>Meu Título</h2>
    <p card-content>Conteúdo do cartão vai aqui.</p>
    <div card-footer>Rodapé do card</div>
  </app-card>
  <hr/>
  <app-card>
    <h2 card-title>Meu Título 2</h2>
    <p card-content>Conteúdo 2 do cartão vai aqui.</p>
    <div card-footer>Rodapé 2 do card</div>
  </app-card>
  <hr/>
  <app-card>
    <h2 card-title>Meu Título 3</h2>
    <p card-content>Conteúdo 3 do cartão vai aqui.</p>
    <div card-footer>Rodapé 3 do card</div>
  </app-card>
</section>






