<section class="content">
  <p class="titulo">{{ title }}</p>
  <p class="stitulo">{{ stitle }}</p>
  <p class="legend">{{ legend }}</p>
  <hr />
  <nav>
    <ul>
      <li>
        <a
          routerLink="/first-component"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Primeiro Componente</a
        >
      </li>
      <li>
        <a
          routerLink="/second-component"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Segundo Componente</a
        >
      </li>
      <li>
        <a
          routerLink="/pai"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Componente Pai</a
        >
      </li>
      <li>
        <a
          routerLink="/filho"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Componente Filho</a
        >
      </li>
    </ul>
  </nav>
  <hr />
  <main>
    <router-outlet></router-outlet>
  </main>
</section>


