<section>
  <h2>Componente Pai</h2>
  <p>Mensagem que vai para o componente filho: {{ mensagemParaFilho }}</p>
  <p>Abaixo o componente filho com a mensagem passada/recebida</p>
  <hr />
  <app-filho [mensagemDoPai]="mensagemParaFilho"></app-filho>

  <hr />

  <div>
    <app-filho-dois
      (mensagemEnviada)="receberMensagem($event)"
    ></app-filho-dois>
    <h3>Mensagem que vem do Componente Segundo filho</h3>
    <br />
    <p>Mensagem recebida do Segundo Filho: {{ mensagemRecebidaDoFilho }}</p>
  </div>
</section>
